.patientlist-container {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  background-color: rgb(242,245,249);
}
.patientlist-container .wrap {
  width: 100%;
  border: 1px solid red;
  height: calc(100vh - 110px);
  padding: 20px;
  display: flex;
}
.wrap .wrap-left {
  /* border: 1px solid black; */
  flex: 2;
  display: flex;
  flex-direction: column;
}
.wrap .wrap-right {
  /* border: 1px solid black; */
  flex: 1;
  display: flex;
  flex-direction: column;
}
.wrap .wrap-left .patient {
  flex: 1;
}
.wrap .wrap-left .appointment {
  flex: 1.1;
}
.wrap .wrap-right .note {
  flex: 1;
}

.wrap .wrap-right .file {
  flex: 1.2;
}
.patient,
.appointment,
.note,
.file {
  background-color: white;
  border-radius: 4px;
}

.patient,
.appointment {
  margin-bottom: 10px;
  margin-right: 10px;
}
.note,
.file {
  margin-bottom: 10px;
}
